In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from scipy import stats

In [2]:
PATH = 'https://raw.githubusercontent.com/Thinkful-Ed/data-201-resources/master/1.4.11_experimentation_guided_example/experiment_data_2_wks.csv'
experiment_data = pd.read_csv(PATH)

In [3]:
experiment_data.head(10)

  treatment_date  test  is_signed_up signup_date
0     2016-04-01     0             0         NaN
1     2016-04-01     0             0         NaN
2     2016-04-01     0             0         NaN
3     2016-04-01     0             0         NaN
4     2016-04-01     0             0         NaN
5     2016-04-01     0             0         NaN
6     2016-04-01     1             1  2016-04-02
7     2016-04-01     0             0         NaN
8     2016-04-01     0             0         NaN
9     2016-04-01     0             0         NaN

In [50]:
# How large is each group?

size = experiment_data.groupby("test").size()

# What is the signup rate of test and control?

test_signup = len(experiment_data[experiment_data.is_signed_up == 1])
test_size = len(experiment_data[experiment_data["test"] == 0])
test_ratio = test_signup/test_size

control_signup = len(experiment_data[experiment_data.is_signed_up == 1])
control_size = len(experiment_data[experiment_data["test"] == 1])
control_ratio = control_signup/control_size

print(size)
print("************")
print("test rate", test_ratio)
print("control rate", control_ratio )

print('test signup rate:', experiment_data[experiment_data.test == 1].is_signed_up.mean())
print('control signup rate:', experiment_data[experiment_data.test == 0].is_signed_up.mean())

# test_signup_rate = /experiment_data[experiment_data.test == 0].size()

# Is the experiment already significant?

test
0    30241
1     3372
dtype: int64
************
test rate 0.16236235574220428
control rate 1.4561091340450771
test signup rate: 0.13701067615658363
control signup rate: 0.14708508316523924